{% extends "base.html" %}
{% load staticfiles %}

{% block extrastyle %}
<style>
  .system-msg {
    margin-bottom: 20px;
    font-size: 0.9em;
  }
</style>
{% endblock extrastyle %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Appointment #{{ object.appointment_number }}: {{ object.patient.name }} - <time title="{{ object.appointment_date|date:'r' }}" datetime="{{ object.appointment_date|date:'c' }}">{{ object.appointment_date }}</time></h2>
        <div class="row">
          <div class="col-xs-12 col-md-7">
            <form method="post" action="">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <dl class="dl-horizontal">
                <dt>Client</dt><dd>{{ object.client }}</dd>
                <dt>Patient MRN</dt><dd>{{ object.patient.patient_mrn }}</dd>
                <dt>Contact Details</dt><dd>
                  <span>mobile:{{ object.patient.patient_mobile_phone }}</span><br />
                  <span>home:{{ object.patient.patient_home_phone }}</span><br />
                  <span>email:{{ object.patient.patient_email_address }}</span>
                </dd>
                <dt>Confirm Status</dt><dd>{{ form.appointment_confirm_status }}</dd>
                <dt>Confirm Date</dt><dd><time title="{{ object.appointment_confirm_date|date:'r' }}" datetime="{{ object.appointment_confirm_date|date:'c' }}">{{ object.appointment_confirm_date }}</time></dd>
                <dt>Date of Birth</dt><dd><time title="{{ object.patient.patient_date_of_birth }}" datetime="{{ object.patient.patient_date_of_birth|date:'c' }}">{{ object.patient.patient_date_of_birth }}</time></dd>
                <dt>Appointment Facility</dt><dd>{{ object.appointment_facility }}</dd>
                <dt>Appointment Number</dt><dd>{{ object.appointment_number }}</dd>
                <dt>Provider</dt><dd>{{ object.appointment_provider }}</dd>
                <dt>Scheduled Service</dt><dd>{{ object.appointment_scheduled_service }}</dd>
                <dt>Appointment Status</dt><dd>{{ object.appointment_status }}</dd>
                <dt>Appointment Date</dt><dd><time title="{{ object.appointment_date|date:'r' }}" datetime="{{ object.appointment_date|date:'c' }}">{{ object.appointment_date }}</time></dd>
                <dt>Scheduled Date</dt><dd><time title="{{ object.appointment_scheduled_dt|date:'r' }}" datetime="{{ object.appointment_scheduled_dt|date:'c' }}">{{ object.appointment_scheduled_dt }}</time></dd>
                <dt>Appointment Type</dt><dd>{{ object.appointment_type }}</dd>
                <dt>Appointment Class</dt><dd>{{ object.appointment_class }}</dd>
                <dt>Procedure Description</dt><dd>{{ object.procedure_description }}</dd>
                <dt>Scheduled Room</dt><dd>{{ object.scheduled_room }}</dd>
                <dt>Scheduled Duration</dt><dd>{{ object.scheduled_duration }}</dd>
                <dt>Provider ID</dt><dd>{{ object.provider_id }}</dd>
                <dt>Provider NPI ID</dt><dd>{{ object.provider_npi_id }}</dd>
                <dt>Provider Specialty</dt><dd>{{ object.provider_specialty }}</dd>
                <dt>Patient Type</dt><dd>{{ object.patient_type }}</dd>
                <dt>ASA Rating</dt><dd>{{ object.asa_rating }}</dd>
                <dt>ASA CD</dt><dd>{{ object.asa_cd }}</dd>
                <dt>Notes</dt><dd>{{ form.notes }}</dd>
              </dl>
              <button type="submit" class="btn btn-default pull-right">Submit</button>
            </form>
          </div>
          <div class="col-xs-12 col-md-5">
            <h4>Messages</h4>
            <div class="well">
              {% for message in object.messages_log.all %}
                <div class="row">
                  {% if message.sender == 'client' %}
                    <div class="col-xs-11 col-xs-offset-1">
                      <div class="panel panel-primary">
                        <div class="panel-body">
                          {{ message.body }}
                        </div>
                        <div class="panel-footer clearfix">
                          <div class="pull-left">
                            <!-- TODO dynamic, include queued messages -->
                            <span class="label label-primary">Delivered</span>
                          </div>
                          <div class="pull-right">
                            <time class="small" title="{{ message.created|date:'r' }}" datetime="{{ message.created|date:'c' }}">{{ message.created }}</time>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% elif message.sender == 'patient' %}
                    <div class="col-xs-11">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          {{ message.body }}
                        </div>
                        <div class="panel-footer clearfix">
                          <div class="pull-right">
                            <time class="small" title="{{ message.created|date:'r' }}" datetime="{{ message.created|date:'c' }}">{{ message.created }}</time>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% elif message.sender == 'system' %}
                    <div class="col-xs-8 col-xs-offset-2">
                      <div class="system-msg text-center">
                        <time class="small" title="{{ message.created|date:'r' }}" datetime="{{ message.created|date:'c' }}">{{ message.created }}</time><br />
                        {{ message.body|linebreaks }}
                      </div>
                    </div>
                  {% endif %}
                </div>
              {% empty %}
                No messages to show
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
