{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0">
        <div class="panel panel-default">
          <div class="panel-heading">Protocols</div>
          <div class="panel-body">
            <form id="protocol-form" method="post" action="#">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extrascript %}
<script type="text/javascript">
  $.getJSON("{% url 'protocols:protocols-list' %}", function(json) {
    console.log(json)
    $('#protocol-form').alpaca({
      data: {
        protocols: json
      },
      schema: {
        title: 'Manage Protocols',
        type: 'object',
        properties: {
          protocols: {
            type: 'array',
            items: {
              type: 'object',
              title: 'Protocol',
              properties: {
                name: {
                  type: 'string',
                  title: 'Name',
                  required: true
                },
                priority: {
                  type: 'integer',
                  title: 'Priority',
                  required: true
                },
                constraints: {
                  type: 'array',
                  items: {
                    type: 'object',
                    title: 'Constraint',
                    properties: {
                      field: {
                        type: 'string',
                        title: 'Field',
                        enum: ['appointment_scheduled_service', 'procedure_description'],
                        required: true
                      },
                      lookup_type: {
                        type: 'string',
                        title: 'Lookup Type',
                        enum: ['exact', 'iexact', 'contains', 'icontains'],
                        required: true
                      },
                      value: {
                        type: 'string',
                        title: 'Value',
                        required: true
                      }
                    }
                  }
                },
                templates: {
                  type: 'array',
                  items: {
                    type: 'object',
                    title: 'Message Template',
                    properties: {
                      message_type: {
                        type: 'string',
                        title: 'Type',
                        enum: ['email', 'text', 'call'],
                        default: 'text',
                        required: true
                      },
                      content: {
                        type: 'string',
                        title: 'Content',
                        required: true
                      },
                      content_tail: {
                        type: 'string',
                        title: 'Content Tail',
                        required: false
                      },
                      daydelta: {
                        type: 'string',
                        title: 'Day Delta',
                        required: true
                      },
                      time: {
                        type: 'string',
                        title: 'Time',
                        required: true
                      },
                      actions: {
                        type: 'array',
                        items: {
                          type: 'object',
                          title: 'Message Actions',
                          properties: {
                            keyword: {
                              type: 'string',
                              title: 'Keyword',
                              required: true
                            },
                            action: {
                              type: 'string',
                              title: 'Action',
                              enum: ['confirm', 'stop', 'reschedule', 'cancel']
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      options: {
        fields: {
          protocols: {
            toolbarSticky: true,
            items: {
              fields: {
                name: {
                  type: "textarea"
                },
                constraints: {
                  toolbarSticky: true,
                },
                templates: {
                  toolbarSticky: true,
                  items: {
                    fields: {
                      content: {
                        type: "textarea",
                        rows: 3
                      },
                      content_tail: {
                        type: "textarea",
                        rows: 3
                      },
                      actions: {
                        toolbarSticky: true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    });
  });

</script>
{% endblock extrascript %}