{% extends "base.html" %}
{% load staticfiles %}
{% block extrastyle %}
<style>
  .icon-btn {
    cursor: pointer;
  }
  tr.group,
  tr.group:hover {
      background-color: #ddd !important;
  }
</style>
{% endblock extrastyle %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Actionable Responses</div>
          <div class="panel-body">
            <table id="action-table" class="table">
              <thead>
                <tr>
                  <th>appt date</th>
                  <th>appt time</th>
                  <th>appt location</th>
                  <th>patient name</th>
                  <th>MRN</th>
                  <th>age</th>
                  <th>contact details</th>
                  <th>status</th>
                  <th>procedure</th>
                  <th>surgeon</th>
                  <th>actions</th>
                </tr>
              </thead>
              <tbody>
                {% for appointment in object_list %}
                  <tr>
                    <td data-order="{{ appointment.appointment_date.date|date:'c' }}"><time title="{{ appointment.appointment_date.date }}" datetime="{{ appointment.appointment_date.date|date:'c' }}">{{ appointment.appointment_date.date }}</time></td>
                    <td data-order="{{ appointment.appointment_date|date:'c' }}"><time>{{ appointment.appointment_date.time }}</time></td>
                    <td>{{ appointment.scheduled_room }}</td>
                    <td>{{ appointment.patient.name }}</td>
                    <td>{{ appointment.patient.patient_mrn }}</td>
                    <td>{{ appointment.patient.age }}</td>
                    <td>
                      <span>mobile:{{ appointment.patient.patient_mobile_phone }}</span><br />
                      <span>home:{{ appointment.patient.patient_home_phone }}</span><br />
                      <span>email:{{ appointment.patient.patient_email_address }}</span>
                    </td>
                    <td>{{ appointment.get_appointment_confirm_status_display }}</td>
                    <td>{{ appointment.procedure_description }}</td>
                    <td>{{ appointment.appointment_provider }}</td>
                    <td><a href="{% url 'appointments:detail' appointment.pk %}">Details</a><!-- &nbsp;|&nbsp;<a href="#">SMS</a>&nbsp;|&nbsp;<a href="#">Call</a> --></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Recent Responses</div>
          <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>timestamp</th>
                <th>phone number</th>
                <th>appt location</th>
                <th>appt date</th>
                <th>status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2016-09-30 07:20:37</td>
                <td>7328882235</td>
                <td>Room#2</td>
                <td>2016-10-01 09:00:00</td>
                <td>Confirmed</td>
              </tr>
              <tr>
                <td>2016-09-30 06:51:07</td>
                <td>7320005523</td>
                <td>Room#1</td>
                <td>2016-10-01 10:00:00</td>
                <td>Reschedule</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div> -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Reports</div>
          <div class="panel-body">
            <div class="report-container confirm-report-container">
              <div class="report-loader">Loading...</div>
              <div class="report-error hidden">Error loading report.</div>
              <div class="report hidden">
                <div class="report-header">
                  <span id="prev-report" class="icon-btn glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                  <span id="next-report" class="icon-btn glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                  <span id="confirm-report-header-label"></span>
                </div>
                <canvas id="confirm-report" class="report hidden" width="300" height="200"></canvas>
                <span class="report-label">Confirmed vs unconfirmed per day graph</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extrascript %}
  <script type="text/javascript">
    var offset = 0;
    var confirmReport;

    function next_confirm_report() {
      offset += 1;
      update_confirm_report(offset);
    };

    function prev_confirm_report() {
      offset -= 1;
      update_confirm_report(offset);
    };

    function load_confirm_report() {
      $.ajax({
        url: "{% url 'appointments:reports:confirm' %}",
        dataType: 'json',
        success: function(data){
          confirmReport = new Chart($('#confirm-report'), {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [
                {
                  label: 'Confirmed',
                  data: data.datasets.confirmed || [],
                  backgroundColor: 'rgba(132, 255, 99, 0.6)',
                  borderColor: 'rgba(132, 255, 99, 1)',
                  borderWidth: 1
                },
                {
                  label: 'No Response',
                  data: data.datasets.unconfirmed || [],
                  backgroundColor: 'rgba(255, 206, 86, 0.6)',
                  borderColor: 'rgba(255, 206, 86, 1)',
                  borderWidth: 1
                },
                {
                  label: 'Canceled',
                  data: data.datasets.cancelled || [],
                  backgroundColor: 'rgba(255, 99, 132, 0.6)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
                }
              ]
            },
            options: {
              scales: {
                xAxes: [{
                  stacked: true
                }],
                yAxes: [{
                  stacked: true,
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
          $('.confirm-report-container .report').removeClass('hidden');
          $('#confirm-report-header-label').text(data.range_str);
        },
        error: function(){
          $('.confirm-report-container .report-error').removeClass('hidden');
        },
        complete: function(){
          $('.confirm-report-container .report-loader').addClass('hidden');
        }
      });
    };

    function update_confirm_report(offset) {
      $.ajax({
        url: "{% url 'appointments:reports:confirm' %}?offset=" + offset,
        dataType: 'json',
        success: function(data){
          confirmReport.data.datasets = [
            {
              label: 'Confirmed',
              data: data.datasets.confirmed || [],
              backgroundColor: 'rgba(132, 255, 99, 0.6)',
              borderColor: 'rgba(132, 255, 99, 1)',
              borderWidth: 1
            },
            {
              label: 'No Response',
              data: data.datasets.unconfirmed || [],
              backgroundColor: 'rgba(255, 206, 86, 0.6)',
              borderColor: 'rgba(255, 206, 86, 1)',
              borderWidth: 1
            },
            {
              label: 'Canceled',
              data: data.datasets.cancelled || [],
              backgroundColor: 'rgba(255, 99, 132, 0.6)',
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 1
            }
          ];
          confirmReport.update();
          $('#confirm-report-header-label').text(data.range_str);
        },
        error: function(){
          $('.confirm-report-container .report-error').removeClass('hidden');
        },
        complete: function(){
          $('.confirm-report-container .report-loader').addClass('hidden');
        }
      });
    };

    $(document).ready(function(){
      $('#action-table').DataTable({
        columnDefs: [
          { "orderData": [0,1], "visible": false, "targets": 0 }
        ],
        order: [[0, 'asc']],
        drawCallback: function ( settings ) {
          var api = this.api();
          var rows = api.rows( {page:'current'} ).nodes();
          var last = null;

          api.column(0, {page:'current'} ).data().each( function ( group, i ) {
              if ( last !== group ) {
                  $(rows).eq( i ).before(
                      '<tr class="group"><td colspan="10">'+group+'</td></tr>'
                  );

                  last = group;
              }
          } );
        }
      });
        // stateSave: true
      load_confirm_report();

      $('#prev-report').click(function() {
        prev_confirm_report();
      });
      $('#next-report').click(function() {
        next_confirm_report();
      });
    });
  </script>
{% endblock extrascript %}
