{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Actionable Responses</div>
          <div class="panel-body">
            <table id="action-table" class="table">
              <thead>
                <tr>
                  <th>phone number</th>
                  <th>appt location</th>
                  <th>appt date</th>
                  <th>status</th>
                  <th>actions</th>
                </tr>
              </thead>
              <tbody>
                {% for appointment in object_list %}
                  <tr>
                    <td>{{ appointment.patient.patient_phone }}</td>
                    <td>{{ appointment.scheduled_room }}</td>
                    <td data-order="{{ appointment.appointment_date|date:'c' }}"><time title="{{ appointment.appointment_date|date:'r' }}" datetime="{{ appointment.appointment_date|date:'c' }}">{{ appointment.appointment_date }}</time></td>
                    <td>{{ appointment.get_appointment_confirm_status_display }}</td>
                    <td><a href="{% url 'appointments:detail' appointment.pk %}">Details</a><!-- &nbsp;|&nbsp;<a href="#">SMS</a>&nbsp;|&nbsp;<a href="#">Call</a> --></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Recent Responses</div>
          <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>timestamp</th>
                <th>phone number</th>
                <th>appt location</th>
                <th>appt date</th>
                <th>status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2016-09-30 07:20:37</td>
                <td>7328882235</td>
                <td>Room#2</td>
                <td>2016-10-01 09:00:00</td>
                <td>Confirmed</td>
              </tr>
              <tr>
                <td>2016-09-30 06:51:07</td>
                <td>7320005523</td>
                <td>Room#1</td>
                <td>2016-10-01 10:00:00</td>
                <td>Reschedule</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div> -->
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Reports</div>
          <div class="panel-body">
            <div class="report-container confirm-report-container">
              <div class="report-loader">Loading...</div>
              <div class="report-error hidden">Error loading report.</div>
              <div class="report hidden">
                <canvas id="confirm-report" class="report hidden" width="300" height="200"></canvas>
                <span class="report-label">Confirmed vs unconfirmed per day graph</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extrascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#action-table').DataTable();

      $.ajax({
        url: "{% url 'appointments:reports:confirm' %}",
        dataType: 'json',
        success: function(data){
          new Chart($('#confirm-report'), {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [
                {
                  label: 'Confirmed',
                  data: data.datasets.confirmed || [],
                  backgroundColor: 'rgba(132, 255, 99, 0.6)',
                  borderColor: 'rgba(132, 255, 99, 1)',
                  borderWidth: 1
                },
                {
                  label: 'No Response',
                  data: data.datasets.unconfirmed || [],
                  backgroundColor: 'rgba(255, 206, 86, 0.6)',
                  borderColor: 'rgba(255, 206, 86, 1)',
                  borderWidth: 1
                },
                {
                  label: 'Cancelled',
                  data: data.datasets.cancelled || [],
                  backgroundColor: 'rgba(255, 99, 132, 0.6)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
                }
              ]
            },
            options: {
              scales: {
                xAxes: [{
                  stacked: true
                }],
                yAxes: [{
                  stacked: true,
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
          $('.confirm-report-container .report').removeClass('hidden');
        },
        error: function(){
          $('.confirm-report-container .report-error').removeClass('hidden');
        },
        complete: function(){
          $('.confirm-report-container .report-loader').addClass('hidden');
        }
      });
    });
  </script>
{% endblock extrascript %}
